<div class="container-fluid login-container">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <div>
            <div class="login-container">
                <input required type="text" class="form-control login-input" placeholder="Username"
                    [(ngModel)]="loginModel.username" name="username" #username="ngModel" required />
                <div *ngIf="username.touched || !username.pristine">
                    <div class="form-error" *ngIf="username.errors?.required">
                        Username is required.
                    </div>
                </div>
            </div>

            <div class="login-container">
                <input required type="password" class="form-control login-input" placeholder="Password"
                    [(ngModel)]="loginModel.password" name="password" #password="ngModel" required />
                <div *ngIf="password.touched || !password.pristine">
                    <div class="form-error" *ngIf="password.errors?.required">
                        Password is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="login-button-container">
            <button class="login-button" [disabled]="!loginForm.valid" type="submit">Login</button>
        </div>
    </form>
</div>