.form-error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-input{
    border: 2px solid #f3f3f3;
    border-radius: 50px;
}

.register-container{
    margin: 1em 0em 1em 0em;
}

.register-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button{
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 50px;
    padding: 0.8em 0em 0.8em 0em;
    background-color: #a25460;
    color: white;
}
