.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a25460;
    
    .title-container{
        h1 {
            font-size: 1.4em;
            font-weight: bold;
        }
    }
}

button {
    width: 20%;
    outline: none;
    border: 0;
    border-radius: 50px;
    background-color: wheat;
    margin-top: 0.1em;
    margin-right: 0.3em;
}